<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I Have No Shelf Control - Book Review Database Message Board</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>I HAVE NO SHELF CONTROL</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/api/addBooks">Add Book</a>
    {{!-- <a href="../addBook">Add Book</a> --}}

    {{#if loggedIn}}

    <button id="logout" class="btn-no-style">Logout</button>

    {{else}}

    <a href="/login">Login</a>

    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Book Review Database</h2>
      <div>
        <h2>Add your own book!</h2>
        <p>Select your genre</p>
        <select>
          <option>Genres</option>  
          <option>Art</option>  
          <option>Autobiography</option>  
          <option>Biography</option>  
          <option>Business</option>  
          <option>Childrens</option>  
          <option>Christian</option>  
          <option>Classics</option>  
          <option>Comics</option>  
          <option>Cookbooks</option>  
          <option>Fantasy</option>  
          <option>Fiction</option>  
          <option>History</option>  
          <option>Horror</option>  
          <option>Music</option>  
          <option>Mystery</option>  
          <option>Nonfiction</option>  
          <option>Poetry</option>  
          <option>Romance</option>  
          <option>Science</option>  
          <option>Science Fiction</option>  
          <option>Self Help</option>  
          <option>Sports</option>  
          <option>Thriller</option>  
          <option>Travell</option>  
        </select>
        {{!-- <input type="text", id="title"/> --}}
        {{!-- <input type="text", id="author"/> --}}
        {{!-- <button id="book-addition">Add a book!</button> --}}
      </div>
    </aside>
    <div class="gallery">

      {{{body}}}

    </div>
  </main>

  {{#if loggedIn}}

  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>