

  
    <h2 class="page-title">Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup" class="card-header">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="card-header">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="card-header">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
       <div class="form-group">
        <label for="passwordconfirm-signup" class="card-header">Confirm Password:</label>
        <input class="form-input" type="confirmpassword" id="passwordconfirm-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" >Create Account</button>
      </div>
    </form>
  
  

  
  
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="card-header">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="card-header">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" >Login</button>
        <button class="btn btn-primary" type="forgot-password" >Forgotten Password</button>
      </div>
    </form>
 

  


<script src="./js/login.js"></script>